@model CubeX.ViewModels.TableRentalViewModel


@{ ViewBag.Title = "Details"; }

<fieldset disabled>
    <h3>Table Booking Details</h3>

    <div class="row" style="border:1px solid #bbb9b9; border-radius:5px;">
        <div class="col-sm-10">
            <div class="row" style="padding-bottom:5px;padding-top:25px;">
                <div class="col-sm-3">
                    @Html.LabelFor(m => m.FullName, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", enabled = "false" })
                </div>
            </div>

            <div class="row" style="padding-bottom:5px;padding-top:25px;">
                <div class="col-sm-3">
                    @Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", enabled = "false" })
                </div>
            </div>

            <div class="row" style="padding-bottom:5px;padding-top:25px;">
                <div class="col-sm-3">
                    @*@Html.LabelFor(m => m.Name, htmlAttributes: new { @class = "control-label" })*@
                    <label class="control-label"> Booking Type </label>
                </div>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", enabled = "false" })
                </div>
            </div>

            <div class="row" style="padding-bottom:5px;padding-top:25px;">
                <div class="col-sm-3">
                    @Html.LabelFor(m => m.BookingMade, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.BookingMade, "{0:MM/dd/yyyy}", new { @class = "form-control", enabled = "false" })
                </div>
            </div>

            <div class="row" style="padding-bottom:5px;padding-top:25px;">
                <div class="col-sm-3">
                    @Html.LabelFor(m => m.BookingDate, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.BookingDate, "{0:MM/dd/yyyy}", new { @class = "form-control", enabled = "false" })
                </div>
            </div>

            <div class="row" style="padding-bottom:5px;padding-top:25px;">
                <div class="col-sm-3">
                    @Html.LabelFor(m => m.BookingTime, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.BookingTime, "{0:HH:mm}", new { @class = "form-control", enabled = "false" })
                </div>
            </div>

            <div class="row" style="padding-bottom:5px;padding-top:25px;">
                <div class="col-sm-3">
                    @Html.LabelFor(m => m.Seats, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Seats, new { @class = "form-control", enabled = "false" })
                </div>
            </div>
            <div class="row" style="padding-bottom:5px;padding-top:25px;">
                <div class="col-sm-3">
                    @Html.LabelFor(m => m.TableNumber, htmlAttributes: new { @class = "control-label" })
                </div>
                @if (Model.TableNumber == 0)
                {
                    <div class="col-sm-9">
                        <input id="StudentName" class="form-control"  name="StudentName" type="text" value="Table number not yet assigned"  />
                     </div>
                }
                else
                {
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.TableNumber, new { @class = "form-control success", enabled = "false" })<br />
                    </div>
                }
                <br />
            </div>
            <br />

        </div>
        <div class="col-sm-2">
            <div class="image-book">
                <img class="thumbnail-img" src="data:image;base64,@System.Convert.ToBase64String(Model.Image)" alt="" style="width:100%;height:auto;" />
            </div>
        </div>
    </div>
</fieldset>
<br />
<div>
    @Html.ActionLink("All Bookings", "Index", null, new { @class="btn btn-success"})
</div>